body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.content {
    display: flex;
    background: #ffffff;
    padding: 24px;
    margin: 0;
    margin-top: 28px;
    minHeight: 280
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.cell {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    margin: auto;
}

.title {
    font-size: 26px;
    color: #ffffff;
    margin-left: 20px;
    margin-right: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-info-bar {
    color: #ffffff;
    display: flex;
}

.header-info-bar > div {
    margin-left: 40px;
}

.gamesDropdown {
    margin-left: 10px;
}
